
.field_with_errors {
  display: block;
  /*clear: both;*/
  color: red;
}

.notice {color: #4F8A10; background-color: #DFF2BF; text-align: center;}

/* Temp styles */
.header, .sidebar, .content, .footer { border: 5px solid black; }
.content, .sidebar, .footer { border-top: none; }
.sidebar.right { border-right: none; }
.sidebar.left { border-left: none; }
/* Core styles */
.header { position: relative; height: 100px; width: 100%;}
.content {position: relative; width: 100%;height: 1000px;}
.sidebar {position: relative; width: 20%; height: 100%; border-top: none;}
.sidebar.left { float: left; }
.sidebar.left:after,
.sidebar.right:after {clear: both;content: "\0020";display: block;overflow: hidden;}
.sidebar.right { float: right; }
.footer {position: relative; width: 100%;height: 100px;}
.header .header-inner h3{text-align: center;}
.header .header-inner .login_status{text-align: right;margin-top:25px;margin-right: 20px;}


.button {background-color: #999696;border-radius: 11px;color: white;display: inline-block; font-size: 16px; margin-left: 9px; padding: 7px 21px;text-align: center;text-decoration: none;}