.header
  .header-inner
    .login_status
      - if user_signed_in?
        = link_to "Log out", destroy_user_session_path, :method => 'delete', :class => "button"
      - else
        = link_to "Log in", new_user_session_path, :class => "button", :class => "button"
      - if params[:controller] == "categories" and params[:action] == "index" and user_signed_in?
        = link_to "My Booking", bookings_path, :class => "button"   
      - if params[:controller] == "bookings" and params[:action] == "index" 
        = link_to "Back", categories_path, :class => "button"  
    - if params[:controller] == "categories" and params[:action] == "index"
      %h3
        Room Categories Listing   
        
    / - elsif params[:controller] == "bookings" and params[:action] == "new"     
    /   %h3
    /     New Booking
        